.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.description-container {
    height: 408px;
    width: 486px;
}
.page-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.add-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.add-project-heading {
font-family: 'Playfair Display';
font-size: 48px;
font-weight: 700;
line-height: 72px;
letter-spacing: 0em;
text-align: center;

}
.label {
font-family: 'Nunito';
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 10px;
}
.input {
width: 400px;
height: 40px;
border-radius: 8px;
border:1px;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
linear-gradient(0deg, #E8ECF4, #E8ECF4);
border: 1px solid #E8ECF4;
}
.text-area {
width: 400px;
height: 160px;
border-radius: 8px;
border:1px;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
linear-gradient(0deg, #E8ECF4, #E8ECF4);
border: 1px solid #E8ECF4;
}
.add-button {
width: 60px;
height: 35px;
padding: 8px, 24px, 8px, 24px;
border-radius: 8px;
background-color: #FDC435;
border-width: 0px;
margin-top: 15px;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.portfolio-description {
font-family: 'Nunito';
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: #828282;
}
.portfolio-heading {
font-family: 'Playfair Display';
font-size: 64px;
font-weight: 700;
line-height: 77px;
letter-spacing: 0em;
text-align: left;


}
.projects-button {
    width:115px;
    height: 43px;
    padding: 8px, 24px, 8px, 24px;
    border-radius: 8px;
    background-color: #FDC435;
    border-width: 0px;
    margin-right: 15px;
}
.linkedin-button {
    width:115px;
    height: 43px;
    padding: 8px, 24px, 8px, 24px;
    border-radius: 8px;
    border-width: 2px;
}