.header-item-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 35px;
}
.header-container{
display: flex;
align-items: center;
justify-content: space-between;
height: 35px;
}
.nav-heading {
    font-family: 'Comfortaa';
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 25px;
}
.nav-description {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.hyperlink {
    text-decoration: none;
    color: black;
}